.home {
  color: red;
  width: 2.9rem;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.home:hover {
  color: rgba(255, 0, 0, 0.514);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.work {
  color: blue;
  width: 2.5rem;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.work:hover {
  color: rgba(0, 0, 255, 0.521);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.exp {
  color: rgb(204, 0, 255);
  width: 5.6rem;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.exp:hover {
  color: rgba(204, 0, 255, 0.5);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.con {
  color: rgb(0, 202, 0);
  width: 3.9rem;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.con:hover {
  color: rgba(0, 202, 0, 0.493);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.navbar {
  display: flex;
  flex-direction: row;
  margin-top: 1.6rem;
  float: right;
  margin-right: 4%;
}

.cheselogo {
  float: left;
  margin-left: 4%;
  margin-top: 1rem;
  width: 6rem;
}

.cheselogo:hover {
  opacity: 0.8;
}

.moveArrow {
  position: relative;
  bottom: -0.55rem;
  animation-name: mymove;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-duration: 10s;
}

@keyframes mymove {
  from {
    transform: translateX(-60vw);
  }
  to {
    transform: translateX(60vw);
  }
}
