.home {
  color: red;
  width: 2.9rem;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.home:hover {
  color: rgba(255, 0, 0, 0.514);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.work {
  color: blue;
  width: 2.5rem;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.work:hover {
  color: rgba(0, 0, 255, 0.521);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.exp {
  color: rgb(204, 0, 255);
  width: 5.6rem;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.exp:hover {
  color: rgba(204, 0, 255, 0.5);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.con {
  color: rgb(0, 202, 0);
  width: 3.9rem;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.con:hover {
  color: rgba(0, 202, 0, 0.493);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.navbar {
  display: flex;
  flex-direction: row;
  margin-top: 1.6rem;
  float: right;
  margin-right: 4%;
}

.cheselogo {
  float: left;
  margin-left: 4%;
  margin-top: 1rem;
  width: 6rem;
}

.cheselogo:hover {
  opacity: 0.8;
}

.moveArrow {
  animation-name: mousemove;
  animation-duration: 8s;
  animation-iteration-count: 1;
}

@keyframes mousemove {
  from {
    transform: translateX(0vw);
  }
  to {
    transform: translateX(calc(100vw - 130px));
  }
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.socials > div {
  margin: 1rem;
}

.youtube {
  width: 10rem;
  animation: ytfloat 1.5s ease-in-out infinite;
}

.youtube:hover {
  opacity: 0.8;
  animation-duration: 2s;
}

.github {
  width: 9rem;
  animation: ghfloat 1.4s ease-in-out infinite;
}

.github:hover {
  opacity: 0.8;
  animation-duration: 2s;
}

.inlinked {
  width: 9rem;
  animation: ilfloat 1.3s ease-in-out infinite;
}

.inlinked:hover {
  opacity: 0.8;
  animation-duration: 2s;
}

.navitemslink {
  text-decoration: none;
  height: 0px;
}

@keyframes ytfloat {
  0% {
    filter: drop-shadow(0px 10px 4px #979797);
    transform: translatey(0px);
  }
  50% {
    filter: drop-shadow(0px 25px 8px #b1b1b1);
    transform: translatey(-12px);
  }
  100% {
    filter: drop-shadow(0px 10px 4px #979797);
    transform: translatey(0px);
  }
}

@keyframes ghfloat {
  0% {
    filter: drop-shadow(0px 10px 4px #979797);
    transform: translatey(0px);
  }
  50% {
    filter: drop-shadow(0px 25px 8px #b1b1b1);
    transform: translatey(-15px);
  }
  100% {
    filter: drop-shadow(0px 10px 4px #979797);
    transform: translatey(0px);
  }
}

@keyframes ilfloat {
  0% {
    filter: drop-shadow(0px 10px 4px #979797);
    transform: translatey(0px);
  }
  50% {
    filter: drop-shadow(0px 25px 8px #b1b1b1);
    transform: translatey(-12px);
  }
  100% {
    filter: drop-shadow(0px 10px 4px #979797);
    transform: translatey(0px);
  }
}

@keyframes float_msg {
  0% {
    filter: drop-shadow(0px 10px 4px #979797);
    transform: translatey(0px);
  }
  50% {
    filter: drop-shadow(0px 25px 8px #b1b1b1);
    transform: translatey(-5px);
  }
  100% {
    filter: drop-shadow(0px 10px 4px #979797);
    transform: translatey(0px);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0px 0px 40px 5px #eefbff;
  }
  100% {
    box-shadow: 0px 0px 40px 5px #000000;
  }
}

@keyframes glowoff {
  0% {
    box-shadow: 0px 0px 40px 5px #000000;
  }
  100% {
    box-shadow: 0px 0px 40px 5px #eefbff;
  }
}

.mouse_msg {
  animation: float_msg 1.5s ease-in-out infinite, msgappear 1s ease-in-out 1;
}

.mouse_msg:hover {
  opacity: 0.8;
}

.wordglow:hover {
  animation: glow 1s ease-in-out 1;
  animation-fill-mode: forwards;
}

.wordglow:not(:hover) {
  animation: glowoff 1s ease-in-out 1;
  animation-fill-mode: forwards;
}

.text-stuff {
  text-align: right;
}

.pic-stuff {
  float: left;
}

.container {
  margin: 150px auto;
  margin-top: 5rem;
  width: 60%;
  display: flex;
}

.beautiful {
  filter: drop-shadow(0px 0px 2px #635c1b);
}

@keyframes mnfloat {
  0% {
    filter: drop-shadow(0px 10px 4px #979797);
    transform: translatey(0px);
  }
  50% {
    filter: drop-shadow(0px 25px 8px #b1b1b1);
    transform: translatey(-12px);
  }
  100% {
    filter: drop-shadow(0px 10px 4px #979797);
    transform: translatey(0px);
  }
}

@keyframes mnrotate {
  0% {
    transform: rotate(0deg);
    filter: drop-shadow(0px 10px 4px #979797);
  }
  10% {
    filter: drop-shadow(0px 5px 4px #979797);
  }
  20% {
    filter: drop-shadow(0px 0px 4px #979797);
  }
  30% {
    filter: drop-shadow(0px -5px 4px #979797);
  }
  40% {
    filter: drop-shadow(0px -10px 4px #979797);
  }
  50% {
    filter: drop-shadow(0px -10px 4px #979797);
  }
  60% {
    filter: drop-shadow(0px -10px 4px #979797);
  }
  70% {
    filter: drop-shadow(0px -5px 4px #979797);
  }
  80% {
    filter: drop-shadow(0px 0px 4px #979797);
  }
  90% {
    filter: drop-shadow(0px 5px 4px #979797);
  }
  100% {
    transform: rotate(360deg);
    filter: drop-shadow(0px 10px 4px #979797);
  }
}

.moneris {
  width: 10rem;
  animation: mnfloat 1.5s ease-in-out infinite;
}

.moneris:hover {
  opacity: 0.8;

  animation: mnrotate 1.5s linear infinite;
}

.wrapper::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.wrapper::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
.wrapper::-webkit-scrollbar-thumb {
  background: url("https://i.ibb.co/pxCGDRv/scrollbar.png");
}

/* Handle on hover */
.wrapper::-webkit-scrollbar-thumb:hover {
  opacity: 80%;
}

.wrapper {
  /* min-height: 100%; */
  height: calc(100vh - 194px);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  visibility: hidden;
}

.main-content,
.wrapper:hover,
.wrapper:focus {
  visibility: visible;
}

.wrapper:hover {
  overflow-y: auto;
}

.main-content {
  margin-top: 70px;
  flex: 0 0 auto;
}

.scrollbox_delayed {
  transition: visibility 0.2s;
}

.scrollbox_delayed:hover {
  transition: visibility 0s 0.2s;
}

@keyframes arrowfloat {
  0% {
    filter: drop-shadow(0px 0px 4px #b3b3b3);
    transform: translatey(0px);
  }
  50% {
    filter: drop-shadow(0px 0px 6px #888888);
    transform: translatey(-6px);
  }
  100% {
    filter: drop-shadow(0px 0px 4px #b3b3b3);
    transform: translatey(0px);
  }
}

.arrowfloat {
  animation: arrowfloat 1s ease-in-out infinite;
}

.arrowfloat:hover {
  opacity: 0.8;
}
